 <div class="card-container" style="width: 90%; margin: 0 auto; display: flex;">

  <div class="user-card">
    <div class="edit-btn"><i class="fa fa-pencil"></i></div>
    <div class="row card-row">
      <div class="user col-md-12">
        <i class="fa fa-user"></i><span>Hardik Thakkar</span>
      </div>
    </div>
    <div class="row card-row">
       <div class="col-md-12">
         <b>User Id :</b> <span>Ysdfsfdes</span>
       </div>
    </div>
    <div class="row card-row">
          <div class="col-md-6">
              <i class="fa fa-envelope"></i><span>asdasddfsdf.com</span>
          </div>
          <div class="col-md-6">
              <i class="fa fa-phone"></i><span>9876540321</span>
          </div>
    </div>
    <div class="row card-row">
          <div class="col-md-12">
             Is Phone No. Confirmed? <span class="yes">yes</span> <span class="no">No</span>
          </div>
    </div>
    <div class="row card-row">
      <div class="col-md-3">
         Last Login
      </div>
      <div class="col-md-9">
        <span class="time-span">Sat May 04 2024 00:20:24 GMT+0530 (India Standard Time)</span>
     </div>
</div>
    </div>
  </div>

