 <!-- <div class="alert-notification alert-danger">
  <span><i class="ph-fill ph-x-circle"></i></span>
  This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div> -->
 <div class="alert-notification alert-success">
  <span><i class="ph-fill ph-check-fat"></i></span>
  This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<!-- <div class="alert-notification alert-warning">
  <span><i class="ph-fill ph-exclamation-mark"></i></span>
  This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div> -->
