<div class="login-container">
  <div class="login-middle-data">
      <div class="login-bg">
          <div class="logo-container">
            <img src="../../assets/images/login-logo.svg">
          </div>
          <h2 class="text-center"><b>Tech App Builder</b></h2>
          <h5 class="text-center"><b>The Power of Possibility</b></h5>
      </div>
      <div class="login-data">
        <h2><b>Forgot password?</b></h2>
        <h5>Fill the form to reset your password</h5>
        <div class="form-data">
        <form autocomplete="off">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" autocomplete="off"  class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-primary mt-4">Send Reset Link</button>
          <h6 class="mar-top-24"><a href="#"><b>Return to <a href="#">Sign In</a></b></a></h6>
        </form>
        </div>
      </div>
  </div>
</div>

