<div class="user-drop-down">
  <span class="welcome">Welcome <br/><b>Hardik Thakkar</b></span>
  <ul>
    <li><i class="ph ph-user"></i>Profile</li>
    <li><i class="ph ph-gear"></i>Setting</li>
    <li><i class="ph ph-dots-three-circle"></i>
      <i class="ph ph-caret-right submenu"></i>
        Status
      <ul>
        <li><span class="status online"></span>Online</li>
        <li><span class="status away"></span>Away</li>
        <li><span class="status busy"></span>Busy</li>
        <li><span class="status invis"></span>Invisible</li>
      </ul>
    </li>
    <li><i class="ph ph-sign-out"></i>Signout</li>
  </ul>
</div>
